.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #6c8cff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-load-more {
  width: 48px;
  height: 48px;
  border: 5px solid #6c8cff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin-bottom: 50px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans serif;
}

.container {
  margin: 0 auto;
  padding: 36px 156px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

.form-input {
  width: 272px;
  height: 40px;
  padding-left: 16px;
  outline: transparent;
  outline-offset: -1px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
}

.form-input:hover {
  outline: 1px solid #000000;
}
.form-input:focus {
  outline: 1px solid #4e75ff;
}

.form-btn {
  height: 40px;
  padding: 8px 16px;
  background-color: #4e75ff;
  color: #ffffff;
  border-radius: 8px;
  border-style: none;
  font-size: 16px;
}

.form-btn:hover {
  background-color: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: 360px;
  border: 1px solid rgb(128, 128, 128);
  border-radius: 0px 0px 2px 2px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);;
    
}

.gallery-link {
  color: #2E2F42;
}

.thumb {
  width: 100%;
  height: 200px;
}

.gallery-image {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.actions {
  display: flex;
  width: 100%;
  height: 48px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 25px;
}

.action {
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
}

.actions-name {
  font-size: 12px;
  font-weight: 600;
}

.quantity {
  font-size: 12px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.load-more {
  display: inline-block;
  margin-bottom: 44px;
  padding: 8px 16px;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 8px;
  background-color: #4E75FF;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}


